In [2]:
#Is necesary to have this libraries intalled before to run the Notebook. 
#!pip intall pandas
#!pip intall numpy
#!pip install matplotlib
#!pip install seaborn
#!pip install missingno 
import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt # nos permite hacer gráficos
import seaborn as sns #nos permite hacer gráficos bonitos

In [3]:
#read dataset  
data = pd.read_csv('USGS_events_2010-01-01_2022-11-01.csv')

In [5]:
data.head()

,id,mag,place,time,updated,tz,url,detail,felt,cdi,...,sources,types,nst,dmin,rms,gap,magType,type,title,geometry
0,nc71338046,1.02,"8 km W of Cobb, California",1263081589050,1485021181190,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",nc,",",focal-mechanism,nearby-cities,origin,phase-data,",30.0,0.009910,0.0800,47.00,md,earthquake,"M 1.0 - 8 km W of Cobb, California",POINT Z (-122.8203333 38.8163333 1.929)
1,nn00301678,1.30,"64 km ESE of Goldfield, Nevada",1263081050837,1528923095942,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",nn,",",origin,phase-data,",20.0,0.223000,0.1138,114.57,ml,earthquake,"M 1.3 - 64 km ESE of Goldfield, Nevada",POINT Z (-116.5613 37.4935 11.7)
2,nc71338036,0.57,"6 km WNW of Cobb, California",1263080589630,1485021171979,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",nc,",",nearby-cities,origin,phase-data,",8.0,0.009009,0.1300,99.00,md,earthquake,"M 0.6 - 6 km WNW of Cobb, California",POINT Z (-122.791832 38.847332 1.555)
3,nc71338031,0.46,"5 km SW of Cobb, California",1263080476030,1485021167427,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",nc,",",nearby-cities,origin,phase-data,",5.0,0.013510,0.0200,138.00,md,earthquake,"M 0.5 - 5 km SW of Cobb, California",POINT Z (-122.7675 38.7883333 1.196)
4,uu50393750,1.20,"10 km SSE of Cedar City, Utah",1263080229400,1535502598580,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",uu,",",origin,phase-data,",8.0,0.139200,0.1400,76.00,md,earthquake,"M 1.2 - 10 km SSE of Cedar City, Utah",POINT Z (-113.0371667 37.589 5.48)

In [5]:
# quick check most important measurments (also checking if max/min are too high/low)
data.describe()

,mag,time,updated,tz,felt,cdi,mmi,tsunami,sig,nst,dmin,rms,gap
count,1.849439e+06,1.857134e+06,1.857134e+06,12.000000,97636.000000,97636.000000,16550.000000,1.857134e+06,1.857134e+06,1.215038e+06,1.241974e+06,1.835863e+06,1.384726e+06
mean,1.632695e+00,1.482607e+12,1.546622e+12,-480.000000,38.667131,2.314487,3.762759,8.109269e-04,6.545529e+01,2.038371e+01,5.363545e-01,3.071704e-01,1.243808e+02
std,1.264040e+00,1.153919e+11,6.522671e+10,88.625874,771.716791,1.374860,1.621890,2.846524e-02,9.747124e+01,2.584463e+01,2.105069e+00,3.023745e-01,6.865756e+01
min,-9.990000e+00,1.262305e+12,1.360130e+12,-600.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00
25%,8.000000e-01,1.387861e+12,1.486587e+12,-540.000000,0.000000,1.000000,3.010000,0.000000e+00,1.000000e+01,8.000000e+00,1.995000e-02,9.000000e-02,7.300000e+01
50%,1.320000e+00,1.499052e+12,1.557596e+12,-480.000000,1.000000,2.000000,3.830000,0.000000e+00,2.600000e+01,1.400000e+01,5.871000e-02,1.800000e-01,1.080000e+02
75%,2.100000e+00,1.581656e+12,1.594067e+12,-480.000000,5.000000,3.200000,4.620000,0.000000e+00,6.800000e+01,2.400000e+01,1.540000e-01,4.800000e-01,1.610000e+02
max,9.100000e+00,1.667261e+12,1.668566e+12,-240.000000,131616.000000,9.100000,9.329000,1.000000e+00,2.910000e+03,9.340000e+02,1.411600e+02,4.624000e+01,3.600000e+02

In [ ]:
#drop all columns that we are not going to use.
#Please refer to eda.ipynb for a better understanding of this desition

In [6]:
def delete_col(df):
    '''
    Takes as arg a df and deliminate specific columns with pandas
    '''
    df_1 = df.drop(['url', 'detail', 'tz', 'alert'], axis=1)
    return df_1

In [7]:
delete_col(data)

,id,mag,place,time,updated,felt,cdi,mmi,status,tsunami,...,sources,types,nst,dmin,rms,gap,magType,type,title,geometry
0,nc71338046,1.02,"8 km W of Cobb, California",1263081589050,1485021181190,NaN,NaN,NaN,reviewed,0,...,",nc,",",focal-mechanism,nearby-cities,origin,phase-data,",30.0,0.009910,0.0800,47.00,md,earthquake,"M 1.0 - 8 km W of Cobb, California",POINT Z (-122.8203333 38.8163333 1.929)
1,nn00301678,1.30,"64 km ESE of Goldfield, Nevada",1263081050837,1528923095942,NaN,NaN,NaN,reviewed,0,...,",nn,",",origin,phase-data,",20.0,0.223000,0.1138,114.57,ml,earthquake,"M 1.3 - 64 km ESE of Goldfield, Nevada",POINT Z (-116.5613 37.4935 11.7)
2,nc71338036,0.57,"6 km WNW of Cobb, California",1263080589630,1485021171979,NaN,NaN,NaN,automatic,0,...,",nc,",",nearby-cities,origin,phase-data,",8.0,0.009009,0.1300,99.00,md,earthquake,"M 0.6 - 6 km WNW of Cobb, California",POINT Z (-122.791832 38.847332 1.555)
3,nc71338031,0.46,"5 km SW of Cobb, California",1263080476030,1485021167427,NaN,NaN,NaN,reviewed,0,...,",nc,",",nearby-cities,origin,phase-data,",5.0,0.013510,0.0200,138.00,md,earthquake,"M 0.5 - 5 km SW of Cobb, California",POINT Z (-122.7675 38.7883333 1.196)
4,uu50393750,1.20,"10 km SSE of Cedar City, Utah",1263080229400,1535502598580,NaN,NaN,NaN,reviewed,0,...,",uu,",",origin,phase-data,",8.0,0.139200,0.1400,76.00,md,earthquake,"M 1.2 - 10 km SSE of Cedar City, Utah",POINT Z (-113.0371667 37.589 5.48)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857129,nc73795991,1.17,"7km NW of The Geysers, CA",1666224074110,1666228937100,NaN,NaN,NaN,automatic,0,...,",nc,",",nearby-cities,origin,phase-data,scitech-link,",10.0,0.013690,0.0200,87.00,md,earthquake,"M 1.2 - 7km NW of The Geysers, CA",POINT Z (-122.8178329 38.8204994 0.89)
1857130,nc73795986,1.17,"7km NW of The Geysers, CA",1666224064050,1666228215020,0.0,1.0,NaN,automatic,0,...,",nc,",",dyfi,nearby-cities,origin,phase-data,scitech-...",9.0,0.012330,0.0300,141.00,md,earthquake,"M 1.2 - 7km NW of The Geysers, CA",POINT Z (-122.8160019 38.8156662 2.4)
1857131,nc73795961,1.48,"6km WNW of The Geysers, CA",1666224025840,1666300575591,NaN,NaN,NaN,reviewed,0,...,",nc,",",nearby-cities,origin,phase-data,scitech-link,",25.0,0.010090,0.0300,61.00,md,earthquake,"M 1.5 - 6km WNW of The Geysers, CA",POINT Z (-122.8163333 38.8078333 1.02)
1857132,ak022dgkgpx7,1.60,"46 km WNW of Mosquito Lake, Alaska",1666224016002,1668211456609,NaN,NaN,NaN,reviewed,0,...,",ak,",",origin,phase-data,",NaN,NaN,0.5900,NaN,ml,earthquake,"M 1.6 - 46 km WNW of Mosquito Lake, Alaska",POINT Z (-136.8637 59.6678 19.9)
1857133,nc71129239,2.55,"7km NW of The Geysers, CA",1666224010180,1666310775563,NaN,NaN,NaN,reviewed,0,...,",nc,",",nearby-cities,origin,phase-data,scitech-link,",35.0,0.019090,0.0300,37.00,md,earthquake,"M 2.6 - 7km NW of The Geysers, CA",POINT Z (-122.8098333 38.8233333 1.72)

In [ ]:
def Nmag(mag):
    for i in mag:
        if mag < (-1.5):
            mag
        else:
            mag = -1.5

In [17]:
def NormMag(data):
    data.loc[data['mag'] < (-1.5), 'mag'] = (-1.5)
    data['mag'] = data['mag'].fillna(1.32)  #(datac['mag'].median())
    return data

In [56]:
#esto no funciono. Con df todo bien
def NormMagC(x):
    x = x.fillna(1.32)  #(datac['mag'].median())
    if x < (-1.5):
        x = (-1.5)
    else: x
    return x

In [ ]:
data.loc[data['mag'] < (-1.5), 'mag'] = (-1.5)

In [9]:
data['mag'].median()

1.32

In [10]:
#median = 1.33 
# we use harcode value as this will be introduced for new columns
data['mag'] = data['mag'].fillna(1.32)  #(datac['mag'].median())

In [64]:
#just checking replacment
data['mag'].describe()

count    1.857134e+06
mean     1.106173e+00
std      4.937185e-01
min     -1.500000e+00
25%      8.000000e-01
50%      1.330000e+00
75%      1.500000e+00
max      1.500000e+00
Name: mag, dtype: float64

In [124]:
datac = data.copy()

In [59]:
def NormStatus(x):
    x = x.str.lower
    #df['status'] = df['status'].apply(str.lower)
    return x

In [60]:
#apply funtion
NormStatus(data['status'])

In [61]:
#check changes
data['status'].unique()

array(['reviewed', 'automatic', 'manual'], dtype=object)

In [76]:
#we will fill with 1 as we can assume that at least one station would have recorded
def NormNst(x):
    x = x.fillna(1)
    return x

In [77]:
NormNst(data['nst'])

0          30.0
1          20.0
2           8.0
3           5.0
4           8.0
           ...
1857129    10.0
1857130     9.0
1857131    25.0
1857132     1.0
1857133    35.0
Name: nst, Length: 1857134, dtype: float64

In [79]:
#chequear por que no reemplaza
data['nst'].isna().sum()

642096

In [103]:
datac['dmin'].median()

0.05871

In [106]:
# We will use the last 75% as max, as we are taking in account the typical values:  https://earthquake.usgs.gov/data/comcat/
data['dmin'].describe()

count    1.241974e+06
mean     5.363545e-01
std      2.105069e+00
min      0.000000e+00
25%      1.995000e-02
50%      5.871000e-02
75%      1.540000e-01
max      1.411600e+02
Name: dmin, dtype: float64

In [108]:
def NormDmi(df):
    df.loc[df['dmin'] > (0.154), 'dmin'] = (0.154)
    df = df['dmin'].fillna(0.0587)
    return df

In [109]:
NormDmi(data)

0          0.009910
1          0.155000
2          0.009009
3          0.013510
4          0.139200
             ...
1857129    0.013690
1857130    0.012330
1857131    0.010090
1857132    0.058700
1857133    0.019090
Name: dmin, Length: 1857134, dtype: float64

In [90]:
NormDmi(datac['dmin'])

0          0.009910
1          0.223000
2          0.009009
3          0.013510
4          0.139200
             ...
1857129    0.013690
1857130    0.012330
1857131    0.010090
1857132    7.100000
1857133    0.019090
Name: dmin, Length: 1857134, dtype: float64

In [110]:
data['rms'].describe()

count    1.835863e+06
mean     3.071704e-01
std      3.023745e-01
min      0.000000e+00
25%      9.000000e-02
50%      1.800000e-01
75%      4.800000e-01
max      4.624000e+01
Name: rms, dtype: float64

In [111]:
# we use the max typical value for outliers: https://earthquake.usgs.gov/data/comcat/
def NormRms(df):
    df.loc[df['rms'] > (1.39), 'rms'] = (1.39)
    df = df['rms'].fillna(0.18)
    return df

In [115]:
NormRms(data)

0          0.0800
1          0.1138
2          0.1300
3          0.0200
4          0.1400
            ...
1857129    0.0200
1857130    0.0300
1857131    0.0300
1857132    0.5900
1857133    0.0300
Name: rms, Length: 1857134, dtype: float64

In [114]:
data['rms'].describe()

count    1.835863e+06
mean     3.071704e-01
std      3.023745e-01
min      0.000000e+00
25%      9.000000e-02
50%      1.800000e-01
75%      4.800000e-01
max      4.624000e+01
Name: rms, dtype: float64

In [117]:
def NormGap(df):
    df.loc[df['gap'] > (180), 'gap'] = (180)
    df = df['gap'].fillna(110)
    return df

In [118]:
NormGap(data)

0           47.00
1          114.57
2           99.00
3          138.00
4           76.00
            ...
1857129     87.00
1857130    141.00
1857131     61.00
1857132    110.00
1857133     37.00
Name: gap, Length: 1857134, dtype: float64

In [119]:
data['gap'].describe()

count    1.384726e+06
mean     1.130270e+02
std      4.795510e+01
min      7.000000e+00
25%      7.300000e+01
50%      1.080000e+02
75%      1.610000e+02
max      1.800000e+02
Name: gap, dtype: float64

In [125]:
datac.head(2)

,id,mag,place,time,updated,tz,url,detail,felt,cdi,...,sources,types,nst,dmin,rms,gap,magType,type,title,geometry
0,nc71338046,1.02,"8 km W of Cobb, California",1263081589050,1485021181190,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",nc,",",focal-mechanism,nearby-cities,origin,phase-data,",30.0,0.00991,0.0800,47.00,md,earthquake,"M 1.0 - 8 km W of Cobb, California",POINT Z (-122.8203333 38.8163333 1.929)
1,nn00301678,1.30,"64 km ESE of Goldfield, Nevada",1263081050837,1528923095942,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,...,",nn,",",origin,phase-data,",20.0,0.22300,0.1138,114.57,ml,earthquake,"M 1.3 - 64 km ESE of Goldfield, Nevada",POINT Z (-116.5613 37.4935 11.7)

In [127]:
def NormDate(x):
    x = pd.to_datetime(x, unit='ms')
    #df['status'] = df['status'].apply(str.lower)
    return x

In [121]:
datac['time'] = pd.to_datetime(datac['time'], unit='ms')

In [128]:
NormDate(datac['time'])

0         2010-01-09 23:59:49.050
1         2010-01-09 23:50:50.837
2         2010-01-09 23:43:09.630
3         2010-01-09 23:41:16.030
4         2010-01-09 23:37:09.400
                    ...
1857129   2022-10-20 00:01:14.110
1857130   2022-10-20 00:01:04.050
1857131   2022-10-20 00:00:25.840
1857132   2022-10-20 00:00:16.002
1857133   2022-10-20 00:00:10.180
Name: time, Length: 1857134, dtype: datetime64[ns]

In [ ]:
#converted_df = pd.to_datetime(datac['time'], unit='s')

In [116]:
data['type'].value_counts()

earthquake                    1813858
quarry blast                    14154
explosion                       12614
ice quake                       12598
mining explosion                 2104
other event                      1416
chemical explosion                149
volcanic eruption                  63
rock burst                         56
sonic boom                         32
mine collapse                      18
landslide                          16
quarry                             15
not reported                       12
experimental explosion              9
building collapse                   5
nuclear explosion                   4
acoustic noise                      2
sonicboom                           2
Ice Quake                           2
rockslide                           1
collapse                            1
meteorite                           1
induced or triggered event          1
accidental explosion                1
Name: type, dtype: int64