In [275]:
import pandas as pd

In [276]:
pd.set_option('display.max_columns', None)

In [277]:
earthquakes= pd.read_csv("earthquakes_weather.csv")
earthquakes

,Search Parameters,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Temp_C,Wind_ms,Precip_mm
0,NaN,2010,1,2,2.0,15.0,12.0,NaN,NaN,TAJIKISTAN,38.245,71.467,47.0,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500,2.0,98.0,2.0,1000.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.500,2.0,98.0,2.0,1000.0,3.0,-13.0,3.6,0.0
1,NaN,2010,1,3,21.0,48.0,5.3,4522.0,NaN,SOLOMON ISLANDS,-8.743,157.477,26.0,6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2010,1,3,22.0,36.0,27.9,4523.0,NaN,SOLOMON ISLANDS,-8.799,157.346,25.0,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0,1.0,60.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0,1.0,60.0,2.0,NaN,NaN,NaN
3,NaN,2010,1,5,12.0,15.0,32.2,4542.0,NaN,SOLOMON ISLANDS,-9.019,157.551,15.0,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2010,1,10,0.0,25.0,4.2,NaN,NaN,INDONESIA: JAVA: GARUT,-7.907,107.879,65.0,5.1,NaN,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,28.7,12.1,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,NaN,2022,10,5,0.0,21.0,29.0,NaN,NaN,IRAN: KHOY; WEST AZERBAIJAN,38.511,45.038,15.0,5.6,7.0,NaN,NaN,NaN,NaN,1127.0,4.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,1127.0,4.0,NaN,3.0,NaN,2.0,NaN,3.0,31.9,9.2,0.0
681,NaN,2022,10,5,8.0,26.0,21.0,NaN,NaN,PERU: PIURA,-4.912,-80.560,48.0,5.8,8.0,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,31.1,18.6,0.0
682,NaN,2022,10,25,14.0,59.0,3.0,NaN,NaN,PHILIPPINES: LUZON: ABRA,17.662,120.823,27.0,6.4,8.0,NaN,NaN,NaN,NaN,139.0,3.0,1.444,2.0,434.0,1.0,13012.0,4.0,NaN,NaN,NaN,NaN,139.0,3.0,1.444,2.0,434.0,1.0,13012.0,4.0,28.5,20.5,0.2
683,NaN,2022,11,8,20.0,27.0,23.0,NaN,NaN,NEPAL: SUDURPASHCHIM PROVINCE,29.274,81.149,18.0,5.7,7.0,6.0,1.0,NaN,NaN,8.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,6.0,1.0,NaN,NaN,8.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,19.3,6.1,0.0
684,NaN,2022,11,11,10.0,48.0,45.0,5866.0,NaN,TONGA ISLANDS,-19.318,-172.100,24.0,7.3,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.8,26.6,10.8

In [278]:
earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 42 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Search Parameters                   0 non-null      float64
 1   Year                                685 non-null    int64
 2   Mo                                  685 non-null    int64
 3   Dy                                  685 non-null    int64
 4   Hr                                  684 non-null    float64
 5   Mn                                  684 non-null    float64
 6   Sec                                 681 non-null    float64
 7   Tsu                                 166 non-null    float64
 8   Vol                                 8 non-null      float64
 9   Location Name                       685 non-null    object
 10  Latitude                            685 non-null    float64
 11  Longitude                           685 non-null    float64
 12  Focal Depth (km)                    678 non-null    float64
 13  Mag                                 683 non-null    float64
 14  MMI Int                             278 non-null    float64
 15  Deaths                              316 non-null    float64
 16  Death Description                   316 non-null    float64
 17  Missing                             18 non-null     float64
 18  Missing Description                 17 non-null     float64
 19  Injuries                            381 non-null    float64
 20  Injuries Description                415 non-null    float64
 21  Damage ($Mil)                       116 non-null    float64
 22  Damage Description                  534 non-null    float64
 23  Houses Destroyed                    184 non-null    float64
 24  Houses Destroyed Description        254 non-null    float64
 25  Houses Damaged                      253 non-null    float64
 26  Houses Damaged Description          409 non-null    float64
 27  Total Deaths                        321 non-null    float64
 28  Total Death Description             321 non-null    float64
 29  Total Missing                       18 non-null     float64
 30  Total Missing Description           20 non-null     float64
 31  Total Injuries                      386 non-null    float64
 32  Total Injuries Description          419 non-null    float64
 33  Total Damage ($Mil)                 121 non-null    float64
 34  Total Damage Description            540 non-null    float64
 35  Total Houses Destroyed              187 non-null    float64
 36  Total Houses Destroyed Description  259 non-null    float64
 37  Total Houses Damaged                255 non-null    float64
 38  Total Houses Damaged Description    415 non-null    float64
 39  Temp_C                              534 non-null    float64
 40  Wind_ms                             534 non-null    float64
 41  Precip_mm                           534 non-null    float64
dtypes: float64(38), int64(3), object(1)
memory usage: 224.9+ KB

In [279]:
earthquakes.drop(["Search Parameters"],axis=1,inplace=True)
earthquakes

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Temp_C,Wind_ms,Precip_mm
0,2010,1,2,2.0,15.0,12.0,NaN,NaN,TAJIKISTAN,38.245,71.467,47.0,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500,2.0,98.0,2.0,1000.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.500,2.0,98.0,2.0,1000.0,3.0,-13.0,3.6,0.0
1,2010,1,3,21.0,48.0,5.3,4522.0,NaN,SOLOMON ISLANDS,-8.743,157.477,26.0,6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,1,3,22.0,36.0,27.9,4523.0,NaN,SOLOMON ISLANDS,-8.799,157.346,25.0,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0,1.0,60.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0,1.0,60.0,2.0,NaN,NaN,NaN
3,2010,1,5,12.0,15.0,32.2,4542.0,NaN,SOLOMON ISLANDS,-9.019,157.551,15.0,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,1,10,0.0,25.0,4.2,NaN,NaN,INDONESIA: JAVA: GARUT,-7.907,107.879,65.0,5.1,NaN,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,28.7,12.1,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,2022,10,5,0.0,21.0,29.0,NaN,NaN,IRAN: KHOY; WEST AZERBAIJAN,38.511,45.038,15.0,5.6,7.0,NaN,NaN,NaN,NaN,1127.0,4.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,1127.0,4.0,NaN,3.0,NaN,2.0,NaN,3.0,31.9,9.2,0.0
681,2022,10,5,8.0,26.0,21.0,NaN,NaN,PERU: PIURA,-4.912,-80.560,48.0,5.8,8.0,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,31.1,18.6,0.0
682,2022,10,25,14.0,59.0,3.0,NaN,NaN,PHILIPPINES: LUZON: ABRA,17.662,120.823,27.0,6.4,8.0,NaN,NaN,NaN,NaN,139.0,3.0,1.444,2.0,434.0,1.0,13012.0,4.0,NaN,NaN,NaN,NaN,139.0,3.0,1.444,2.0,434.0,1.0,13012.0,4.0,28.5,20.5,0.2
683,2022,11,8,20.0,27.0,23.0,NaN,NaN,NEPAL: SUDURPASHCHIM PROVINCE,29.274,81.149,18.0,5.7,7.0,6.0,1.0,NaN,NaN,8.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,6.0,1.0,NaN,NaN,8.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,19.3,6.1,0.0
684,2022,11,11,10.0,48.0,45.0,5866.0,NaN,TONGA ISLANDS,-19.318,-172.100,24.0,7.3,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.8,26.6,10.8

In [280]:
earthquakes["MMI Int"].value_counts()

7.0    57
8.0    49
5.0    48
6.0    39
9.0    35
4.0    32
3.0    12
2.0     6
Name: MMI Int, dtype: int64

In [281]:
#earthquakes["MMI Int"].fillna(0)

In [282]:
earthquakes = earthquakes.drop(earthquakes.columns[[14,15,16,17,18,19,20,21,22,23,24,25,27,28,29,31,32,33,34,35,36,37]], axis='columns') # Se dropean todas las columnas que la información no es del todo fiable.
earthquakes

,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Total Deaths,Total Injuries,Temp_C,Wind_ms,Precip_mm
0,2010,1,2,2.0,15.0,12.0,NaN,NaN,TAJIKISTAN,38.245,71.467,47.0,5.1,NaN,NaN,NaN,-13.0,3.6,0.0
1,2010,1,3,21.0,48.0,5.3,4522.0,NaN,SOLOMON ISLANDS,-8.743,157.477,26.0,6.6,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,1,3,22.0,36.0,27.9,4523.0,NaN,SOLOMON ISLANDS,-8.799,157.346,25.0,7.1,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,1,5,12.0,15.0,32.2,4542.0,NaN,SOLOMON ISLANDS,-9.019,157.551,15.0,6.8,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,1,10,0.0,25.0,4.2,NaN,NaN,INDONESIA: JAVA: GARUT,-7.907,107.879,65.0,5.1,NaN,1.0,2.0,28.7,12.1,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,2022,10,5,0.0,21.0,29.0,NaN,NaN,IRAN: KHOY; WEST AZERBAIJAN,38.511,45.038,15.0,5.6,7.0,NaN,1127.0,31.9,9.2,0.0
681,2022,10,5,8.0,26.0,21.0,NaN,NaN,PERU: PIURA,-4.912,-80.560,48.0,5.8,8.0,1.0,2.0,31.1,18.6,0.0
682,2022,10,25,14.0,59.0,3.0,NaN,NaN,PHILIPPINES: LUZON: ABRA,17.662,120.823,27.0,6.4,8.0,NaN,139.0,28.5,20.5,0.2
683,2022,11,8,20.0,27.0,23.0,NaN,NaN,NEPAL: SUDURPASHCHIM PROVINCE,29.274,81.149,18.0,5.7,7.0,6.0,8.0,19.3,6.1,0.0
684,2022,11,11,10.0,48.0,45.0,5866.0,NaN,TONGA ISLANDS,-19.318,-172.100,24.0,7.3,5.0,NaN,NaN,25.8,26.6,10.8

In [283]:
earthquakes['Mo'] = earthquakes['Mo'].astype(str)
earthquakes['Mo'] = earthquakes['Mo'].replace('1', '01')
earthquakes['Mo'] = earthquakes['Mo'].replace('2', '02')
earthquakes['Mo'] = earthquakes['Mo'].replace('3', '03')
earthquakes['Mo'] = earthquakes['Mo'].replace('4', '04')
earthquakes['Mo'] = earthquakes['Mo'].replace('5', '05')
earthquakes['Mo'] = earthquakes['Mo'].replace('6', '06')
earthquakes['Mo'] = earthquakes['Mo'].replace('7', '07')
earthquakes['Mo'] = earthquakes['Mo'].replace('8', '08')
earthquakes['Mo'] = earthquakes['Mo'].replace('9', '09')

In [284]:
earthquakes['Dy'] = earthquakes['Dy'].astype(str)
earthquakes['Dy'] = earthquakes['Dy'].replace('1', '01')
earthquakes['Dy'] = earthquakes['Dy'].replace('2', '02')
earthquakes['Dy'] = earthquakes['Dy'].replace('3', '03')
earthquakes['Dy'] = earthquakes['Dy'].replace('4', '04')
earthquakes['Dy'] = earthquakes['Dy'].replace('5', '05')
earthquakes['Dy'] = earthquakes['Dy'].replace('6', '06')
earthquakes['Dy'] = earthquakes['Dy'].replace('7', '07')
earthquakes['Dy'] = earthquakes['Dy'].replace('8', '08')
earthquakes['Dy'] = earthquakes['Dy'].replace('9', '09')

In [285]:
earthquakes['Year'] = earthquakes['Year'].astype(str)

In [286]:
earthquakes.insert(0, "Fecha", earthquakes['Year'].str.cat(earthquakes['Mo']))

In [287]:
earthquakes["Fecha"] = earthquakes['Fecha'].str.cat(earthquakes['Dy'])

In [288]:
earthquakes["Fecha"]= pd.to_datetime(earthquakes.Fecha, format = '%Y-%m-%d')

In [289]:
earthquakes

,Fecha,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Total Deaths,Total Injuries,Temp_C,Wind_ms,Precip_mm
0,2010-01-02,2010,01,02,2.0,15.0,12.0,NaN,NaN,TAJIKISTAN,38.245,71.467,47.0,5.1,NaN,NaN,NaN,-13.0,3.6,0.0
1,2010-01-03,2010,01,03,21.0,48.0,5.3,4522.0,NaN,SOLOMON ISLANDS,-8.743,157.477,26.0,6.6,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,2010,01,03,22.0,36.0,27.9,4523.0,NaN,SOLOMON ISLANDS,-8.799,157.346,25.0,7.1,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-05,2010,01,05,12.0,15.0,32.2,4542.0,NaN,SOLOMON ISLANDS,-9.019,157.551,15.0,6.8,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-10,2010,01,10,0.0,25.0,4.2,NaN,NaN,INDONESIA: JAVA: GARUT,-7.907,107.879,65.0,5.1,NaN,1.0,2.0,28.7,12.1,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,2022-10-05,2022,10,05,0.0,21.0,29.0,NaN,NaN,IRAN: KHOY; WEST AZERBAIJAN,38.511,45.038,15.0,5.6,7.0,NaN,1127.0,31.9,9.2,0.0
681,2022-10-05,2022,10,05,8.0,26.0,21.0,NaN,NaN,PERU: PIURA,-4.912,-80.560,48.0,5.8,8.0,1.0,2.0,31.1,18.6,0.0
682,2022-10-25,2022,10,25,14.0,59.0,3.0,NaN,NaN,PHILIPPINES: LUZON: ABRA,17.662,120.823,27.0,6.4,8.0,NaN,139.0,28.5,20.5,0.2
683,2022-11-08,2022,11,08,20.0,27.0,23.0,NaN,NaN,NEPAL: SUDURPASHCHIM PROVINCE,29.274,81.149,18.0,5.7,7.0,6.0,8.0,19.3,6.1,0.0
684,2022-11-11,2022,11,11,10.0,48.0,45.0,5866.0,NaN,TONGA ISLANDS,-19.318,-172.100,24.0,7.3,5.0,NaN,NaN,25.8,26.6,10.8

In [290]:
earthquakes = earthquakes.drop(earthquakes.columns[[1,2,3,4,5,6]], axis='columns')

In [294]:
earthquakes=earthquakes.fillna(0)
earthquakes

,Fecha,Tsu,Vol,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Total Deaths,Total Injuries,Temp_C,Wind_ms,Precip_mm
0,2010-01-02,0.0,0.0,TAJIKISTAN,38.245,71.467,47.0,5.1,0.0,0.0,0.0,-13.0,3.6,0.0
1,2010-01-03,4522.0,0.0,SOLOMON ISLANDS,-8.743,157.477,26.0,6.6,0.0,0.0,0.0,0.0,0.0,0.0
2,2010-01-03,4523.0,0.0,SOLOMON ISLANDS,-8.799,157.346,25.0,7.1,0.0,0.0,0.0,0.0,0.0,0.0
3,2010-01-05,4542.0,0.0,SOLOMON ISLANDS,-9.019,157.551,15.0,6.8,0.0,0.0,0.0,0.0,0.0,0.0
4,2010-01-10,0.0,0.0,INDONESIA: JAVA: GARUT,-7.907,107.879,65.0,5.1,0.0,1.0,2.0,28.7,12.1,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,2022-10-05,0.0,0.0,IRAN: KHOY; WEST AZERBAIJAN,38.511,45.038,15.0,5.6,7.0,0.0,1127.0,31.9,9.2,0.0
681,2022-10-05,0.0,0.0,PERU: PIURA,-4.912,-80.560,48.0,5.8,8.0,1.0,2.0,31.1,18.6,0.0
682,2022-10-25,0.0,0.0,PHILIPPINES: LUZON: ABRA,17.662,120.823,27.0,6.4,8.0,0.0,139.0,28.5,20.5,0.2
683,2022-11-08,0.0,0.0,NEPAL: SUDURPASHCHIM PROVINCE,29.274,81.149,18.0,5.7,7.0,6.0,8.0,19.3,6.1,0.0
684,2022-11-11,5866.0,0.0,TONGA ISLANDS,-19.318,-172.100,24.0,7.3,5.0,0.0,0.0,25.8,26.6,10.8

In [295]:
earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             685 non-null    datetime64[ns]
 1   Tsu               685 non-null    float64
 2   Vol               685 non-null    float64
 3   Location Name     685 non-null    object
 4   Latitude          685 non-null    float64
 5   Longitude         685 non-null    float64
 6   Focal Depth (km)  685 non-null    float64
 7   Mag               685 non-null    float64
 8   MMI Int           685 non-null    float64
 9   Total Deaths      685 non-null    float64
 10  Total Injuries    685 non-null    float64
 11  Temp_C            685 non-null    float64
 12  Wind_ms           685 non-null    float64
 13  Precip_mm         685 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 75.0+ KB

In [297]:
earthquakes.to_csv("earthquakes.csv",index=False)