In [168]:
import pandas as pd
import datetime as dt

In [169]:
volcano = pd.read_csv('volcano.tsv', delimiter='\t', skiprows=[1]) # Se carga el dataframe de Volcanes.
volcano

,Search Parameters,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,NaN,2010,1,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,2010,3,31.0,NaN,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2010,5,27.0,NaN,NaN,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,NaN,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2010,8,6.0,NaN,NaN,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,NaN,2022,1,13.0,5827.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,2022,1,15.0,5824.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,NaN,2022,1,16.0,5825.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,2022,6,22.0,NaN,NaN,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,2022,10,9.0,5865.0,NaN,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
volcano.info() # Se obtiene información.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Search Parameters                   0 non-null      float64
 1   Year                                91 non-null     int64
 2   Mo                                  91 non-null     int64
 3   Dy                                  85 non-null     float64
 4   Tsu                                 12 non-null     float64
 5   Eq                                  8 non-null      float64
 6   Name                                91 non-null     object
 7   Location                            91 non-null     object
 8   Country                             91 non-null     object
 9   Latitude                            91 non-null     float64
 10  Longitude                           91 non-null     float64
 11  Elevation (m)                       91 non-null     int64
 12  Type                                91 non-null     object
 13  VEI                                 37 non-null     float64
 14  Agent                               51 non-null     object
 15  Deaths                              38 non-null     float64
 16  Death Description                   38 non-null     float64
 17  Missing                             4 non-null      float64
 18  Missing Description                 4 non-null      float64
 19  Injuries                            25 non-null     float64
 20  Injuries Description                28 non-null     float64
 21  Damage ($Mil)                       12 non-null     float64
 22  Damage Description                  57 non-null     float64
 23  Houses Destroyed                    12 non-null     float64
 24  Houses Destroyed Description        22 non-null     float64
 25  Total Deaths                        40 non-null     float64
 26  Total Death Description             40 non-null     float64
 27  Total Missing                       5 non-null      float64
 28  Total Missing Description           5 non-null      float64
 29  Total Injuries                      28 non-null     float64
 30  Total Injuries Description          31 non-null     float64
 31  Total Damage ($Mil)                 15 non-null     float64
 32  Total Damage Description            57 non-null     float64
 33  Total Houses Destroyed              13 non-null     float64
 34  Total Houses Destroyed Description  23 non-null     float64
dtypes: float64(27), int64(3), object(5)
memory usage: 25.0+ KB

In [171]:
volcano.describe() # Y una descripción del mismo.

,Search Parameters,Year,Mo,Dy,Tsu,Eq,Latitude,Longitude,Elevation (m),VEI,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
count,0.0,91.000000,91.000000,85.000000,12.000000,8.000000,91.000000,91.000000,91.000000,37.000000,38.000000,38.000000,4.000000,4.0,25.000000,28.000000,12.000000,57.000000,12.000000,22.000000,40.000000,40.000000,5.00000,5.000000,28.000000,31.000000,15.000000,57.000000,13.000000,23.000000
mean,NaN,2015.648352,6.120879,15.517647,5671.666667,10251.375000,6.624879,50.378066,2082.054945,2.594595,23.447368,1.131579,71.250000,1.5,106.840000,1.357143,211.255333,1.842105,1360.000000,2.136364,33.200000,1.175000,59.00000,1.400000,1237.928571,1.419355,200.522133,1.964912,1496.846154,2.304348
std,NaN,3.661735,3.660101,9.164647,279.918603,456.644262,21.813849,107.765300,1279.740003,1.012682,66.670102,0.474829,106.709497,1.0,393.539142,0.826160,287.099628,1.065523,1975.919257,1.206942,92.222195,0.549475,96.38724,0.894427,6029.095122,0.922829,257.243076,1.148989,1918.856076,1.222322
min,NaN,2010.000000,1.000000,1.000000,4822.000000,9172.000000,-41.330000,-175.382000,0.000000,1.000000,1.000000,1.000000,3.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,2013.000000,3.000000,8.000000,5677.500000,10284.000000,-7.540000,-42.765000,1222.000000,2.000000,1.000000,1.000000,7.500000,1.0,3.000000,1.000000,14.375000,1.000000,3.000000,1.000000,1.000000,1.000000,9.00000,1.000000,3.000000,1.000000,17.250000,1.000000,164.000000,1.000000
50%,NaN,2016.000000,6.000000,15.000000,5732.000000,10382.500000,3.170000,105.423000,1807.000000,2.000000,2.500000,1.000000,26.500000,1.0,8.000000,1.000000,83.500000,1.000000,208.000000,2.000000,3.500000,1.000000,10.00000,1.000000,9.000000,1.000000,107.768000,2.000000,284.000000,2.000000
75%,NaN,2018.000000,9.000000,23.000000,5824.250000,10512.000000,19.421000,127.330000,2669.000000,3.000000,8.000000,1.000000,90.250000,1.5,25.000000,1.000000,336.250000,2.000000,2033.250000,3.000000,10.250000,1.000000,44.00000,1.000000,27.250000,1.000000,287.500000,3.000000,2844.000000,3.000000
max,NaN,2022.000000,12.000000,31.000000,5865.000000,10556.000000,63.633000,177.180000,5672.000000,5.000000,367.000000,3.000000,229.000000,3.0,1972.000000,4.000000,900.000000,4.000000,5000.000000,4.000000,437.000000,3.000000,229.00000,3.000000,31943.000000,4.000000,900.000000,4.000000,5000.000000,4.000000

In [172]:
pd.options.display.max_columns = 36 # Para que se puedan ver todas las columnas juntas.

In [173]:
volcano

,Search Parameters,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,NaN,2010,1,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,2010,3,31.0,NaN,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2010,5,27.0,NaN,NaN,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,NaN,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2010,8,6.0,NaN,NaN,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,NaN,2022,1,13.0,5827.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,2022,1,15.0,5824.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,NaN,2022,1,16.0,5825.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,2022,6,22.0,NaN,NaN,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,2022,10,9.0,5865.0,NaN,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
volcano.drop(['Search Parameters'], axis=1,inplace=True) # Se elimina la columna que tiene todos los datos nulos.

In [175]:
volcano.loc[volcano["Dy"].isnull()]

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,2010,1,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
7,2010,11,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
13,2011,4,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
23,2013,2,NaN,NaN,NaN,Paluweh,Lesser Sunda Is,Indonesia,-8.320,121.708,875,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
42,2015,10,NaN,NaN,NaN,Okataina,New Zealand,New Zealand,-38.120,176.500,1111,Lava dome,NaN,I,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2021,3,NaN,NaN,NaN,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,"L,T",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [176]:
volcano["Dy"]=volcano["Dy"].fillna(1) # Se reemplazan por "1" los valores Nan en el día, ya que ninguno es de los paises que se necesitan y
volcano                               # es una información secundario.

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,2010,1,1.0,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,NaN,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,NaN,NaN,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,NaN,NaN,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2022,1,15.0,5824.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,2022,1,16.0,5825.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2022,6,22.0,NaN,NaN,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2022,10,9.0,5865.0,NaN,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
volcano["Tsu"]=volcano["Tsu"].fillna(0) # Un valor indica que el volcán provocó un tsunami. Por lo tanto si es nulo no, y por ende se reemplaza por "0".
volcano

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,2010,1,1.0,0.0,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,0.0,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,0.0,NaN,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,0.0,NaN,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2022,1,15.0,5824.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,2022,1,16.0,5825.0,NaN,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2022,6,22.0,0.0,NaN,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2022,10,9.0,5865.0,NaN,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
volcano["Eq"]=volcano["Eq"].fillna(0) # Un valor indica que hubo un terremoto importante junto con la erupción volcánica. 
volcano                               # Si es nulo que no, por lo tanto se reemplazara por "0"

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
volcano["VEI"].value_counts()

2.0    16
3.0     9
4.0     7
1.0     4
5.0     1
Name: VEI, dtype: int64

In [180]:
volcano.loc[volcano["VEI"].isnull()] # El VEI, es el índice de explosividad volcánica, utilizado para describir el tamaño de las erupciones volcánicas.
                                     # Las que tienen valor NaN signfican que no son explosivas. Por lo tanto ese Nulo, tiene información.
                                     # A las erupciones históricas que fueron definitivamente explosivas, pero que no contienen otra información descriptiva, 
                                     # se les asigna un VEI predeterminado de 2.

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010,8,30.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,10,26.0,0.0,0.0,Merapi,Java,Indonesia,-7.540,110.446,2910,Stratovolcano,NaN,NaN,367.0,3.0,NaN,NaN,277.0,3.0,600.000,4.0,NaN,3.0,367.0,3.0,NaN,NaN,277.0,3.0,600.000,4.0,NaN,3.0
8,2010,12,28.0,0.0,0.0,Tengger Caldera,Java,Indonesia,-7.942,112.950,2329,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2011,1,3.0,0.0,0.0,Merapi,Java,Indonesia,-7.540,110.446,2910,Stratovolcano,NaN,M,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN
10,2011,1,28.0,0.0,0.0,Kirishimayama,Kyushu-Japan,Japan,31.934,130.862,1700,Shield volcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
12,2011,3,18.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
16,2011,7,9.0,0.0,0.0,Katla,Iceland-S,Iceland,63.633,-19.083,1490,Subglacial volcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
17,2011,7,17.0,0.0,0.0,Lokon-Empung,Sulawesi-Indonesia,Indonesia,1.358,124.792,1580,Stratovolcano,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2012,2,10.0,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
20,2012,3,2.0,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,NaN,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2012,12,12.0,0.0,0.0,Tolbachik,Kamchatka,Russia,55.832,160.326,3611,Shield volcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
22,2013,2,12.0,0.0,0.0,Merapi,Java,Indonesia,-7.540,110.446,2910,Stratovolcano,NaN,M,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN
23,2013,2,1.0,0.0,0.0,Paluweh,Lesser Sunda Is,Indonesia,-8.320,121.708,875,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
24,2013,5,7.0,0.0,0.0,Mayon,Luzon-Philippines,Philippines,13.257,123.685,2462,Stratovolcano,NaN,NaN,5.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN
26,2013,9,1.0,0.0,0.0,Ubinas,Peru,Peru,-16.355,-70.903,5672,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
27,2013,9,4.0,0.0,0.0,Aira,Kyushu-Japan,Japan,31.593,130.657,1117,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
29,2013,12,13.0,0.0,0.0,Okataina,New Zealand,New Zealand,-38.120,176.500,1111,Lava dome,NaN,G,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2014,2,1.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,NaN,17.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,NaN,2.0,17.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,NaN,2.0
31,2014,2,13.0,0.0,0.0,Kelud,Java,Indonesia,-7.930,112.308,1731,Stratovolcano,NaN,NaN,7.0,1.0,NaN,NaN,NaN,NaN,NaN,3.0,4098.0,4.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,3.0,4098.0,4.0
33,2014,11,10.0,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.500,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,14.500,3.0,1.0,1.0
34,2014,11,23.0,0.0,0.0,Fogo,Cape Verde Is,Cape Verde,14.950,-24.350,2829,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,230.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,230.0,3.0
35,2014,12,18.0,0.0,0.0,Gamalama,Halmahera-Indonesia,Indonesia,0.800,127.330,1715,Stratovolcano,NaN,NaN,1.0,1.0,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN
36,2015,2,20.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
37,2015,4,22.0,0.0,0.0,Calbuco,Chile-S,Chile,-41.330,-72.618,1974,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0
38,2015,5,2.0,5584.0,10140.0,Sumisujima,Izu Is-Japan,Japan,31.440,140.051,136,Submarine volcano,NaN,"S,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2015,5,7.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
41,2015,10,16.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,M,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
42,2015,10,1.0,0.0,0.0,Okataina,New Zealand,New Zealand,-38.120,176.500,1111,Lava dome,NaN,I,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2016,5,9.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,NaN,1.0,1.0,NaN,NaN,4.0,1.0,NaN,1.0,3.0,1.0,1.0,1.0,NaN,NaN,4.0,1.0,NaN,1.0,NaN,NaN
44,2016,5,21.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,NaN,7.0,1.0,NaN,NaN,3.0,1.0,100.000,4.0,NaN,NaN,7.0,1.0,NaN,NaN,3.0,1.0,100.000,4.0,NaN,NaN
45,2016,6,9.0,0.0,0.0,Yellowstone,US-Wyoming,United States,44.430,-110.670,2805,Caldera,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2016,9,27.0,0.0,0.0,Rinjani,Lesser Sunda Is,Indonesia,-8.420,116.470,3726,Stratovolcano,NaN,NaN,NaN,NaN,44.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
47,2016,10,8.0,0.0,0.0,Asosan,Kyushu-Japan,Japan,32.884,131.104,1592,Caldera,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
48,2017,3,15.0,0.0,0.0,Etna,Italy,Italy,37.748,14.999,3320,Stratovolcano,NaN,P,NaN,NaN,NaN,NaN,10.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,NaN,NaN,NaN,NaN
51,2017,7,1.0,0.0,0.0,Dieng Volcanic Complex,Java,Indonesia,-7.200,109.879,2565,Complex volcano,NaN,NaN,8.0,1.0,NaN,NaN,11.0,1.0,NaN,NaN,NaN,NaN,8.0,1.0,NaN,NaN,11.0,1.0,NaN,NaN,NaN,NaN
52,2017,9,12.0,0.0,0.0,Campi Flegrei,Italy,Italy,40.827,14.139,458,Caldera,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2017,9,23.0,0.0,0.0,Ambae,Vanuatu-SW Pacific,Vanuatu,-15.389,167.835,1496,Shield volcano,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
54,2017,12,18.0,0.0,0.0,Merapi,Java,Indonesia,-7.540,110.446,2910,Stratovolcano,NaN,A,8.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN,8.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN
55,2017,12,27.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
56,2018,1,5.0,0.0,0.0,Kadovar,New Guinea-NE of,Papua New Guinea,-3.608,144.588,365,Stratovolcano,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
57,2018,1,13.0,0.0,0.0,Mayon,Luzon-Philippines,Philippines,13.257,123.685,2462,Stratovolcano,NaN,"T,P",NaN,NaN,NaN,NaN,1972.0,4.0,3.564,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1972.0,4.0,3.564,2.0,NaN,NaN
58,2018,1,23.0,0.0,0.0,Kusatsu-Shiranesan,Honshu-Japan,Japan,36.618,138.528,2165,Stratovolcano,NaN,T,1.0,1.0,NaN,NaN,11.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,11.0,1.0,NaN,1.0,NaN,NaN
60,2018,2,9.0,5676.0,0.0,Kadovar,New Guinea-NE of,Papua New Guinea,-3.608,144.588,365,Stratovolcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2018,3,21.0,0.0,0.0,Ijen,Java,Indonesia,-8.058,114.242,2769,Stratovolcano,NaN,G,NaN,NaN,NaN,NaN,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,1.0,NaN,NaN,NaN,NaN
64,2018,5,6.0,5796.0,10556.0,Sumisujima,Izu Is-Japan,Japan,31.440,140.051,136,Submarine volcano,NaN,"S,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2018,7,16.0,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,NaN,T,NaN,NaN,NaN,NaN,23.0,1.0,1.000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1.0,1.000,1.0,NaN,NaN
72,2019,5,7.0,0.0,0.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
73,2019,6,26.0,0.0,0.0,Ulawun,New Britain-SW Pac,Papua New Guinea,-5.050,151.330,2334,Stratovolcano,NaN,"P,T",NaN,NaN,NaN,NaN,2.0,1.0,14.000,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,14.000,3.0,NaN,NaN
79,2020,5,29.0,5748.0,10501.0,Ijen,Java,Indonesia,-8.058,114.242,2769,Stratovolcano,NaN,"G,W, S",1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,2021,4,9.0,0.0,0.0,Soufriere St. Vincent,W Indies,St. Vincent & the Grenadines,13.330,-61.180,1220,Stratovolcano,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,325.000,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.000,4.0,NaN,NaN
84,2021,9,19.0,0.0,0.0,La Palma,Canary Is,Spain,28.570,-17.830,2426,Stratovolcano,NaN,L,1.0,1.0,NaN,NaN,NaN,NaN,900.000,4.0,1345.0,4.0,1.0,1.0,NaN,NaN,NaN,NaN,900.000,4.0,1345.0,4.0
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
volcano["VEI"]=volcano["VEI"].fillna(0) # Se reemplazan los nulos en "VEI", por "0" para que quede sin nulos, ya que es información importante.
volcano

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
volcano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                91 non-null     int64
 1   Mo                                  91 non-null     int64
 2   Dy                                  91 non-null     float64
 3   Tsu                                 91 non-null     float64
 4   Eq                                  91 non-null     float64
 5   Name                                91 non-null     object
 6   Location                            91 non-null     object
 7   Country                             91 non-null     object
 8   Latitude                            91 non-null     float64
 9   Longitude                           91 non-null     float64
 10  Elevation (m)                       91 non-null     int64
 11  Type                                91 non-null     object
 12  VEI                                 91 non-null     float64
 13  Agent                               51 non-null     object
 14  Deaths                              38 non-null     float64
 15  Death Description                   38 non-null     float64
 16  Missing                             4 non-null      float64
 17  Missing Description                 4 non-null      float64
 18  Injuries                            25 non-null     float64
 19  Injuries Description                28 non-null     float64
 20  Damage ($Mil)                       12 non-null     float64
 21  Damage Description                  57 non-null     float64
 22  Houses Destroyed                    12 non-null     float64
 23  Houses Destroyed Description        22 non-null     float64
 24  Total Deaths                        40 non-null     float64
 25  Total Death Description             40 non-null     float64
 26  Total Missing                       5 non-null      float64
 27  Total Missing Description           5 non-null      float64
 28  Total Injuries                      28 non-null     float64
 29  Total Injuries Description          31 non-null     float64
 30  Total Damage ($Mil)                 15 non-null     float64
 31  Total Damage Description            57 non-null     float64
 32  Total Houses Destroyed              13 non-null     float64
 33  Total Houses Destroyed Description  23 non-null     float64
dtypes: float64(26), int64(3), object(5)
memory usage: 24.3+ KB

In [183]:
volcano

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Agent,Deaths,Death Description,Missing,Missing Description,Injuries,Injuries Description,Damage ($Mil),Damage Description,Houses Destroyed,Houses Destroyed Description,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,6.0,1.0,NaN,NaN,20.0,1.0,107.768,4.0,284.0,3.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,P,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,"P,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
volcano = volcano.drop(volcano.columns[[13,14,15,16,17,18,19,20,21,22,23,25,27,29,31,33]], axis='columns') # Se dropean todas las columnas que la información no es del todo fiable.
volcano

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Missing,Total Injuries,Total Damage ($Mil),Total Houses Destroyed
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN,NaN,NaN,NaN
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,2.0,NaN,NaN,NaN,NaN
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,1.0,3.0,NaN,NaN,3.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,4.0,NaN,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,NaN,NaN,NaN,NaN,NaN
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,6.0,NaN,20.0,107.768,284.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,NaN,NaN,NaN,NaN,NaN
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,1.0,NaN,NaN,NaN,NaN
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,NaN,NaN,NaN,NaN,NaN

In [185]:
volcano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    91 non-null     int64
 1   Mo                      91 non-null     int64
 2   Dy                      91 non-null     float64
 3   Tsu                     91 non-null     float64
 4   Eq                      91 non-null     float64
 5   Name                    91 non-null     object
 6   Location                91 non-null     object
 7   Country                 91 non-null     object
 8   Latitude                91 non-null     float64
 9   Longitude               91 non-null     float64
 10  Elevation (m)           91 non-null     int64
 11  Type                    91 non-null     object
 12  VEI                     91 non-null     float64
 13  Total Deaths            40 non-null     float64
 14  Total Missing           5 non-null      float64
 15  Total Injuries          28 non-null     float64
 16  Total Damage ($Mil)     15 non-null     float64
 17  Total Houses Destroyed  13 non-null     float64
dtypes: float64(11), int64(3), object(4)
memory usage: 12.9+ KB

In [186]:
volcano=volcano.drop(["Total Missing","Total Damage ($Mil)","Total Houses Destroyed"],axis=1)
volcano

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,NaN,NaN
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,2.0,NaN
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,1.0,NaN
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,NaN,NaN
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,NaN,NaN
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,6.0,20.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,NaN,NaN
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,1.0,NaN
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,NaN,NaN

In [187]:
volcano["Total Deaths"]=volcano["Total Deaths"].fillna(0) # Se reemplazan los nulos en "Total Deaths", por "0" para que quede sin nulos.
volcano                                                   # Esto no quiere decir que no haya habido muertes necesariamente, sino que tal vez no es posible enumerarlas.

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,0.0,NaN
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,2.0,NaN
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,1.0,NaN
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,0.0,NaN
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,NaN
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,6.0,20.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,NaN
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,1.0,NaN
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,0.0,NaN

In [188]:
volcano["Total Injuries"]=volcano["Total Injuries"].fillna(0) # Se reemplazan los nulos en "Total Injuries", por "0" para que quede sin nulos.
volcano                                                   # Esto no quiere decir que no haya habido lesiones necesariamente, sino que tal vez no es posible enumerarlas.

,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
0,2010,1,1.0,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,0.0,0.0
1,2010,3,31.0,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,2.0,0.0
2,2010,5,27.0,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,1.0,0.0
3,2010,5,29.0,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,0.0,0.0
4,2010,8,6.0,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022,1,13.0,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,0.0
87,2022,1,15.0,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,6.0,20.0
88,2022,1,16.0,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,0.0
89,2022,6,22.0,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,1.0,0.0
90,2022,10,9.0,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,0.0,0.0

In [189]:
volcano['Dy'] = volcano['Dy'].astype(int)

In [190]:
volcano['Mo'] = volcano['Mo'].astype(str)
volcano['Mo'] = volcano['Mo'].replace('1', '01')
volcano['Mo'] = volcano['Mo'].replace('2', '02')
volcano['Mo'] = volcano['Mo'].replace('3', '03')
volcano['Mo'] = volcano['Mo'].replace('4', '04')
volcano['Mo'] = volcano['Mo'].replace('5', '05')
volcano['Mo'] = volcano['Mo'].replace('6', '06')
volcano['Mo'] = volcano['Mo'].replace('7', '07')
volcano['Mo'] = volcano['Mo'].replace('8', '08')
volcano['Mo'] = volcano['Mo'].replace('9', '09')

In [191]:
volcano['Dy'] = volcano['Dy'].astype(str)
volcano['Dy'] = volcano['Dy'].replace('1', '01')
volcano['Dy'] = volcano['Dy'].replace('2', '02')
volcano['Dy'] = volcano['Dy'].replace('3', '03')
volcano['Dy'] = volcano['Dy'].replace('4', '04')
volcano['Dy'] = volcano['Dy'].replace('5', '05')
volcano['Dy'] = volcano['Dy'].replace('6', '06')
volcano['Dy'] = volcano['Dy'].replace('7', '07')
volcano['Dy'] = volcano['Dy'].replace('8', '08')
volcano['Dy'] = volcano['Dy'].replace('9', '09')

In [192]:
volcano['Year'] = volcano['Year'].astype(str)

In [193]:
volcano.insert(0, "Fecha", volcano['Year'].str.cat(volcano['Mo']))

In [194]:
volcano["Fecha"] = volcano['Fecha'].str.cat(volcano['Dy'])

In [195]:
volcano

,Fecha,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
0,20100101,2010,01,01,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,0.0,0.0
1,20100331,2010,03,31,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,2.0,0.0
2,20100527,2010,05,27,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,1.0,0.0
3,20100529,2010,05,29,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,0.0,0.0
4,20100806,2010,08,06,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,20220113,2022,01,13,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,0.0
87,20220115,2022,01,15,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,6.0,20.0
88,20220116,2022,01,16,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,0.0
89,20220622,2022,06,22,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,1.0,0.0
90,20221009,2022,10,09,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,0.0,0.0

In [196]:
volcano["Fecha"]= pd.to_datetime(volcano.Fecha, format = '%Y-%m-%d')

In [197]:
volcano["Country"].unique() # Los países en los que sucedieron las erupciones más importantes.

array(['Ecuador', 'Iceland', 'Guatemala', 'United States', 'Indonesia',
       'Japan', 'Philippines', 'Chile', 'Eritrea', 'Russia', 'Peru',
       'New Zealand', 'Cape Verde', 'Papua New Guinea', 'Italy',
       'Vanuatu', 'St. Vincent & the Grenadines', 'Congo, DRC', 'Spain',
       'Tonga', 'Mexico'], dtype=object)

In [198]:
volcano.loc[volcano["Country"]=="Chile"] # Los únicos que sucedieron en Chile.

,Fecha,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
14,2011-06-04,2011,06,04,0.0,0.0,Puyehue-Cordon Caulle,Chile-C,Chile,-40.59,-72.117,2236,Stratovolcano,4.0,0.0,0.0
37,2015-04-22,2015,04,22,0.0,0.0,Calbuco,Chile-S,Chile,-41.33,-72.618,1974,Stratovolcano,0.0,0.0,0.0

In [199]:
volcano.loc[volcano["Country"]=="United States"] # Los que coinciden con Estados Unidos.

,Fecha,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
3,2010-05-29,2010,05,29,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,0.0,0.0
19,2012-02-10,2012,02,10,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,0.0,0.0,0.0
20,2012-03-02,2012,03,02,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,0.0,0.0,0.0
33,2014-11-10,2014,11,10,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,0.0,0.0,0.0
45,2016-06-09,2016,06,09,0.0,0.0,Yellowstone,US-Wyoming,United States,44.430,-110.670,2805,Caldera,0.0,1.0,0.0
59,2018-02-01,2018,02,01,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,1.0,1.0,3.0
63,2018-04-28,2018,04,28,5678.0,10332.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,1.0,0.0,1.0
66,2018-07-16,2018,07,16,0.0,0.0,Kilauea,Hawaiian Is,United States,19.421,-155.287,1222,Shield volcano,0.0,0.0,23.0

In [200]:
volcano.loc[volcano["Country"]=="Japan"] # Los que ocurrieron en Japón.

,Fecha,Year,Mo,Dy,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
10,2011-01-28,2011,01,28,0.0,0.0,Kirishimayama,Kyushu-Japan,Japan,31.934,130.862,1700,Shield volcano,0.0,0.0,0.0
27,2013-09-04,2013,09,04,0.0,0.0,Aira,Kyushu-Japan,Japan,31.593,130.657,1117,Stratovolcano,0.0,0.0,0.0
32,2014-09-27,2014,09,27,0.0,0.0,Ontakesan,Honshu-Japan,Japan,35.893,137.480,3067,Complex volcano,3.0,55.0,70.0
38,2015-05-02,2015,05,02,5584.0,10140.0,Sumisujima,Izu Is-Japan,Japan,31.440,140.051,136,Submarine volcano,0.0,0.0,0.0
47,2016-10-08,2016,10,08,0.0,0.0,Asosan,Kyushu-Japan,Japan,32.884,131.104,1592,Caldera,0.0,0.0,0.0
58,2018-01-23,2018,01,23,0.0,0.0,Kusatsu-Shiranesan,Honshu-Japan,Japan,36.618,138.528,2165,Stratovolcano,0.0,1.0,11.0
64,2018-05-06,2018,05,06,5796.0,10556.0,Sumisujima,Izu Is-Japan,Japan,31.440,140.051,136,Submarine volcano,0.0,0.0,0.0

In [205]:
volcano = volcano.drop(volcano.columns[[1,2,3]], axis='columns') 
volcano

,Fecha,Tsu,Eq,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,VEI,Total Deaths,Total Injuries
0,2010-01-01,0.0,0.0,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,3.0,0.0,0.0
1,2010-03-31,0.0,0.0,Eyjafjallajokull,Iceland-S,Iceland,63.633,-19.633,1651,Stratovolcano,2.0,2.0,0.0
2,2010-05-27,0.0,0.0,Pacaya,Guatemala,Guatemala,14.382,-90.601,2569,Complex volcano,1.0,1.0,0.0
3,2010-05-29,4822.0,9172.0,Zealandia Bank,Mariana Is-C Pacific,United States,16.880,145.850,0,Stratovolcano,0.0,0.0,0.0
4,2010-08-06,0.0,0.0,Karangetang,Sangihe Is-Indonesia,Indonesia,2.781,125.407,1797,Stratovolcano,3.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2022-01-13,5827.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,0.0
87,2022-01-15,5824.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,5.0,6.0,20.0
88,2022-01-16,5825.0,0.0,Hunga Tonga-Hunga Ha'apai,Tonga-SW Pacific,Tonga,-20.536,-175.382,114,Submarine volcano,0.0,0.0,0.0
89,2022-06-22,0.0,0.0,Popocatepetl,Mexico,Mexico,19.023,-98.622,5393,Stratovolcano,2.0,1.0,0.0
90,2022-10-09,5865.0,0.0,Stromboli,Italy,Italy,38.789,15.213,924,Stratovolcano,2.0,0.0,0.0

In [207]:
volcano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           91 non-null     datetime64[ns]
 1   Tsu             91 non-null     float64
 2   Eq              91 non-null     float64
 3   Name            91 non-null     object
 4   Location        91 non-null     object
 5   Country         91 non-null     object
 6   Latitude        91 non-null     float64
 7   Longitude       91 non-null     float64
 8   Elevation (m)   91 non-null     int64
 9   Type            91 non-null     object
 10  VEI             91 non-null     float64
 11  Total Deaths    91 non-null     float64
 12  Total Injuries  91 non-null     float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(4)
memory usage: 9.4+ KB

In [208]:
volcano.to_csv("Volcano.csv",index=False)